*.a
*.cmd
*.tmp
.config
.config.old
.kconfig.d
.kernelrelease
Config.in
Kbuild
applets/
busybox*
docs/
include/NUM_APPLETS.h
include/applet_tables.h
include/applets.h
include/autoconf.h
include/bbconfigopts.h
include/bbconfigopts_bz2.h
include/config/
include/usage.h
include/usage_compressed.h
networking/udhcp/.dhcpc.o.d
scripts/basic/docproc
scripts/basic/fixdep
scripts/basic/split-include
scripts/kconfig/conf
scripts/kconfig/lex.zconf.c
scripts/kconfig/mconf
scripts/kconfig/zconf.hash.c
scripts/kconfig/zconf.tab.c
